<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Title</title>
    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <strong>内联代码</strong>
            <p >For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>
            <strong>用户通过键盘输入的内容。</strong>
            <p >
                To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
                To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
            </p>
            <strong>代码块</strong>
            <p >
                <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
            </p>
            <strong>变量</strong>
            <p >
                <pre><var>y</var> = <var>m</var><var>x</var> + <var>b</var></pre>
            </p>
        </div>
        <div class="col-md-3">
            <p></p>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>