<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Title</title>
    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
            <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
            <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
            <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
            <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
            <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
            <strong>文本对齐</strong>
            <p class="text-left">Left aligned text.</p>
            <p class="text-center">Center aligned text.</p>
            <p class="text-right">Right aligned text.</p>
            <p class="text-justify">Justified text.</p>
            <p class="text-nowrap">No wrap text.</p>
            <strong>改变大小写</strong>
            <p class="text-lowercase">Lowercased text.</p>
            <p class="text-uppercase">Uppercased text.</p>
            <p class="text-capitalize">Capitalized text.</p>
        </div>
        <div class="col-md-3">
            <p class="lead">dfasefgsaetfg</p>
            <p>You can use the mark tag to <mark>highlight</mark> text.</p>
            <p><del>This line of text is meant to be treated as deleted text.被删除的文本</del></p>
            <p><s>This line of text is meant to be treated as no longer accurate.无用文本</s></p>
            <p><ins>插入文本</ins></p>
            <p><u>带下划线的文本This line of text will render as underlined</u></p>
            <p><small>小号文本
                的This line of text is meant to be treated as fine print.</small></p>
            <p><strong>着重rendered as bold text</strong></p>
            <p><em>斜体rendered as italicized text</em></p>
            <p>
                <abbr title="attribute">attr多福多寿官方的说法是</abbr>
            </p>
            <p>
                <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
            </p>
            <p>
            <address>
                <strong>Twitter, Inc.</strong><br>
                1355 Market Street, Suite 900<br>
                San Francisco, CA 94103<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>

            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
            </p>
            <p></p>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>