<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Title</title>
    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <p >
            <ul>
                <li>fasef</li>
                <li>fasef</li>
                <li>fasef</li>
                <li>fasef</li>
            </ul>
            </p>
            <p >
                <strong>无样式列表</strong>
                <ul class="list-unstyled">
                    <li>fasef</li>
                    <li>fasef</li>
                    <li>fasef</li>
                    <li>fasef</li>
                </ul>
            </p>
            <p >
                <strong>内联列表</strong>
                <ul class="list-inline">
                    <li>首页</li>
                    <li>文化</li>
                    <li>简介</li>
                </ul>
            </p>
            <p >
                <strong>描述</strong>
                <dl>
                    <dt>分公司给</dt>
                    <dd>1地方</dd>
                    <dt>分公司给</dt>
                    <dd>1地方</dd>
                    <dt>分公司给</dt>
                    <dd>1地方</dd>
                </dl>
            </p>
            <p >
                <strong>水平描述</strong>
                <dl class="dl-horizontal">
                    <dt>分公司给</dt>
                    <dd>1地方</dd>
                    <dt>分公司给</dt>
                    <dd>1地方</dd>
                    <dt>分公司给</dt>
                    <dd>1地方</dd>
                </dl>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <ol>
                    <li>fasef</li>
                    <li>fasef</li>
                    <li>fasef</li>
                    <li>fasef</li>
                </ol>
            </p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>