<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Title</title>
    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <strong>表格</strong>
            <table class="table">
                <thead>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
            <strong>条纹状表格</strong>
            <table class="table table-striped">
                <thead>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                </tbody>
            </table>
            <strong>带边框的表格</strong>
            <table class="table table-bordered">
                <thead>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <strong>鼠标悬停表格</strong>
            <table class="table table-hover">
                <thead>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                </tbody>
            </table>
            <strong>紧缩表格</strong>
            <table class="table table-condensed">
                <thead>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                </tbody>
            </table>
            <strong>状态类表格</strong>
            <table class="table table-condensed">
                <thead>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                </thead>
                <tbody>
                <tr class="active">
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr class="success">
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr class="info">
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr class="warning">
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                <tr class="danger">
                    <td>1</td>
                    <td>张三</td>
                    <td>25</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="table-responsive">
                <strong>响应式表格</strong>
                <table class="table table-hover">
                    <thead>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-3">
            <p></p>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>