<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Title</title>
    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">最新版本的 Bootstrap</div>
            <div class="alert alert-info" role="alert">最新版本的 Bootstrap</div>
            <div class="alert alert-warning" role="alert">.最新版本的 Bootstrap..</div>
            <div class="alert alert-danger" role="alert">..最新版本的 Bootstrap.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>可关闭警告窗</strong>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>警告框中的链接</strong>
            <div class="alert alert-success" role="alert">风格的风格
                <a href="#" class="alert-link">k yourself, y</a>
            </div>
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">k yourself, y</a>
            </div>
            <div class="alert alert-warning" role="alert">
                <a href="#" class="alert-link">k yourself, y</a>
            </div>
            <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">k yourself, y</a>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>