<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Title</title>
    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <strong>
                基本实例
            </strong>
            <p>
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
            </p>
            <hr>
            <strong>带标题的面版</strong>
            <p>
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            </p>
            <hr>
            <strong>带脚注的面版</strong>
            <p>
            <div class="panel panel-default">
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
            </p>
            <hr >
            <strong>按钮</strong>
            <p>
            </p>
            <hr>
            <strong>被禁用的条目</strong>
            <p>
            </p>
        </div>
        <div class="col-md-3">
            <strong>情境效果</strong>
            <p>
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            </p>
            <hr>
            <strong>定制内容</strong>
            <p>
            </p>
            <hr>
            <strong>可选的禁用状态</strong>
            <p>
            </p>
            <hr>
            <strong>图片替换</strong>
            <p>
            </p>
            <hr>
            <p></p>
        </div>
        <div class="col-md-3">
            <strong>带表格的面版</strong>
            <p>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
            <p>.fgsfdgsdgsdgf</p>
        </div>

        <table class="table">
            <thead>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>25</td>
            </tr>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>25</td>
            </tr>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>25</td>
            </tr>
            </tbody>
        </table>
    </div>
            </p>
            <hr>
            <strong>没有panel-body</strong>
            <p>
    <p>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
                <table class="table">
                    <thead>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>25</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </p>
            <hr>
            <strong>带列表组的面版</strong>
            <p>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                    <p>电风扇的方式</p>
                    </div>

                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </p>
            <hr>
            <strong>预定义样式</strong>
            <p></p>
            <hr>
            <p></p>
        </div>
        <div class="col-md-3">
            <p></p>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>