<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>Bootstrap Template</title>

    <!-- Bootstrap -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid" style="height: 100%">
        <!--顶部-->
        <div class="row" style="height: 20%;background-color: #1b6d85">
            <center>顶部</center>
        </div>
        <div class="row" style="height: 70%">
            <div class="col-lg-2" style="background-color: #ffffff">
                <ul class="nav nav-pills nav-stacked ">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </div>
            <div class="col-lg-8" style="background-color: #2aabd2;height: 100%">中</div>
        </div>
        <!--底部-->
        <div class="row" style="height: 10%;background-color: #4cae4c">
            <center>底部</center>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>